/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

:root {
  --bg-card: #1a262a;
  --color-green: rgb(57, 207, 57);
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("/backgroundHeader1.png");
  color: #211a1a;
  margin: 0;
  padding: 0;
}
/* --- RESET --- */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
p,
ul,
hr {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
input,
button {
  font-family: inherit;
  border: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
